/** @format */

.signup {
  .left-side {
    width: 100%;
    height: 87vh;
    background-image: url('../../assets/Group\ 1839.svg');
    background-repeat: no-repeat;
    background-size: 105%;
    background-position-x: -20px;
    background-position-y: 22vh;
  }
  .right-side {
    padding-top: 50px;
    .form {
      width: 80%;
      h1 {
        text-align: left;
        color: #373737;
        font-size: 30px;
        font-weight: 400;
        width: 100%;
        margin-bottom: 30px;
      }
      .options {
        margin: 20px 0;
        .blue-button {
          font-size: 14px;
        }
      }
      .form-footer {
        margin-top: 50px;
        color: #808080;
        margin-bottom: 30px;
      }
      .input {
        width: 100%;
        margin-top: 5px;
        margin-bottom: 25px;
        height: 60px;
      }
      .button {
        height: 60px;
      }
    }
  }
}
