/** @format */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: manrope;
  src: url('./assets/fonts/manrope-master/fonts/otf/manrope-regular.otf');
}

@font-face {
  font-family: manrope-bold;
  src: url('./assets/fonts/manrope-master/fonts/otf/manrope-bold.otf');
}

@font-face {
  font-family: manrope-light;
  src: url('./assets/fonts/manrope-master/fonts/otf/manrope-light.otf');
}

@font-face {
  font-family: sans-pro-bold;
  src: url('./assets/fonts/Source\ Sans\ Pro/SourceSansPro-Bold.otf');
}

@font-face {
  font-family: sans-pro-regular;
  src: url('./assets/fonts/Source\ Sans\ Pro/SourceSansPro-Regular.otf');
}

.m-light {
  font-family: manrope-light;
}
.m-bold {
  font-family: manrope-bold;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body,
h1,
h2,
h3,
h4,
h5,
#app {
  font-family: manrope;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* helper classes */
.my-label {
  color: #373737;
  font-size: 14px;
  font-weight: 600;
}
.w100 {
  width: 100% !important;
}
.block {
  display: block !important;
}
.blue-text {
  color: #0089e1 !important;
}

.rightt {
  float: right !important;
}

button {
  cursor: pointer !important;
}
.blue-btn {
  background-color: #0089e1;
  color: #fff;
  border-radius: 5px;
  border: 0;
  height: 50px;
}
.pale-btn {
  background: hsla(203, 100%, 44%, 0.096) 0% 0%;
  border-radius: 5px;
  color: #0089e1;
  border: 0;
  height: 50px;
}
